<header>
  <div class="menu-toggle">
    <img src="icons/hamburger.png" alt="Menu Icon">
  </div>
  <div class="logo">STOK PİLOT</div>
  <div class="search-bar">
    <input type="text" placeholder="Ara ..." />
    <span class="search-icon-container">
      <img src="icons/search.png" alt="Search Icon" class="search-icon" />
    </span>
  </div>
  
  <div class="user-info">
    <div class="notifications">
      <img src="icons/notification.png" alt="Notifications">
      <span class="badge">4</span>
    </div>
    <div class="settings">
      <img src="icons/settings.png" alt="Settings">
    </div>
    <div class="user">
      <img src="icons/user.png" alt="User">
      <div class="user-info-text">
        <span>Mehmet Akif G.</span>
        <span class="role">Super admin</span>
      </div>
      <img src="icons/down-arrow.png" alt="Down Arrow">
    </div>
  </div>
</header>
