<nav>
  <ul>
    <li>
      <a href="#">
        <img src="icons/home.png" alt="Dashboard Icon"> Dashboard
      </a>
    </li>
    <li>
      <a href="#">
        <img src="icons/box.png" alt="Product Icon"> Product
      </a>
    </li>
    <li>
      <a href="#">
        <img src="icons/boxes.png" alt="Stock Icon"> Stock
      </a>
    </li>
    <li>
      <a href="#">
        <img src="icons/settings.png" alt="Sales Stock Icon"> Sales Stock
      </a>
    </li>
    <li>
      <a href="#">
        <img src="icons/categorization.png" alt="Category Icon"> Category
      </a>
    </li>
    <li>
      <a href="#">
        <img src="icons/supplier.png" alt="Supplier Icon"> Supplier
      </a>
    </li>
    <li>
      <a href="#">
        <img src="icons/department.png" alt="Department Icon"> Department
      </a>
    </li>
    <li>
      <a href="#">
        <img src="icons/responsive.png" alt="Device Icon"> Device
      </a>
    </li>
    <li>
      <a href="#">
        <img src="icons/group.png" alt="Personal Icon"> Personal
      </a>
    </li>
  </ul>
</nav>
