@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.section-one {
    flex: 2;
    background-color: #00AF90;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    position: relative;
}

.section-two {
    flex: 4;
}

h1, h2, h3, h4, h5, h6, p, span, a, div, button, input, textarea {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: "Inter";
    font-size: 14px;
}

.equal {
    flex: 1;
}

.title {
    font-family: "K2D";
    font-weight: 300;
    font-size: 4.5vw;
    letter-spacing: 0.24vw;
    overflow: hidden;
}

.link {
    text-decoration: none;
    color: #4CD6EC;
    font-size: 0.8vw;
}

.section-three {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    right: 14%;
    justify-content: space-between;
    width: 27%;
    height: 40%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
    background: radial-gradient(circle , rgba(255, 255, 255, 0.1), transparent 50%);
   
}

.circular-image {
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    position: absolute;
    top: 50%;
    left: 12.5%;
    transform: translateY(-50%);
}

.input-field {
    color: #000000;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 4px 1px 15px rgba(0, 0, 0, 0.25);
    transition: border-color 0.3s ease;
    height: auto;
    border: 1px;
}

.inputs {
    justify-content: center;
    flex: 4;
}

.footer {
    justify-content: space-between;
}

.border {
    border: 1px solid blue;
}

.vertical-text {
    position: absolute;
    bottom: 50%;
    left: 30%;
    transform-origin: left bottom;
    transform: rotate(270deg) translateX(-50%);
    font-family: "Julius Sans One";
    color: #F4F4F4;
    font-weight: 100;
    font-size: 2.5vw;
}

.footer-part-one {
    justify-content: center;
    align-items: flex-start;
}

.password-container {
    position: relative;
    display: flex;
    margin-top: 20px;
}



.login-button {
    display: inline-block;
    background-color: #00AF90;
    color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 15px;
    text-align: center;
    height: 100%;
    width: 50%;
    align-self: flex-end;
    font-family: "Inter";
    position: relative;
    transition: box-shadow 0.9s;
    z-index: 1;
    box-shadow: inset -35px 2px 27px rgba(0, 0, 0, 0.7); /* Inner shadow effect */
    
}

.login-button:hover {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0); /* Remove shadow on hover */
}

.password-container input{
    width: 100%;
    
}
.fa{
    position: absolute;
    background-color: none;
    color: #000000;
    opacity: 70%;
    right:9px ;
    top:13px;
}