<div class="pagination-container">
    <button class="pagination-button">
      <img src="icons/button_left.png" alt="First Page" />
    </button>
    <button class="pagination-button">1</button>
    <button class="pagination-button">...</button>
    <button class="pagination-button">49</button>
    <button class="pagination-button active">50</button>
    <button class="pagination-button">51</button>
    <button class="pagination-button">...</button>
    <button class="pagination-button">99</button>
    <button class="pagination-button">
      <img src="icons/button_right.png" alt="Last Page" />
    </button>
  </div>
  